<div class="text-select-container">
    <div class="inline-block text-center pointer" style="margin-left: 6px" *ngFor="let texts of settings.images[settings.selectedImageUniqueId].models; let i=index;" appSelectable (isSelectedChange)="onIsSelectedChange($event,i)">
        <div class="btn text-type" [ngClass]="{ selected: texts.isSelected }"><img class="svg-icon" src="assets/svg/check.svg"></div>
        <p class="text-type-label text-center" [ngClass]="{ 'text-type-label-selected': texts.isSelected }">{{texts.type}}</p>
 
    </div>
</div>