.layer {
    background-color: #fff;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.layer img {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
}
