<!-- <div class="overlay" [style.width.px]="sizeSettings.sizes[sizeSettings.selectedSizeIndex].width" [style.height.px]="sizeSettings.sizes[sizeSettings.selectedSizeIndex].height" [hidden]="imageLayerSettings.isGraphicHidden">
    <div class="overlay-bounds" *ngIf="imageLayerSettings.selectedFile" appMoveClampedToParent [style.width.px]="imageLayerSettings.width" [style.height.px]="imageLayerSettings.height" [ngClass]="{ selected: isSelected }" (mousedown)="onSelect()">
        <div class="layer" [style.width.px]="imageLayerSettings.width" [style.height.px]="imageLayerSettings.height"  [ngStyle]="{'background-image': 'url(' + imageLayerSettings.selectedFile.url + ')', 'background-size': imageLayerSettings.width + 'px'}">
        </div>
    </div>
</div> -->

<div class="overlay" *ngFor="let layer of settings.images[settings.selectedImageUniqueId].layers; let i=index;" [style.width.px]="sizeSettings.sizes[sizeSettings.selectedSizeIndex].width" [style.height.px]="sizeSettings.sizes[sizeSettings.selectedSizeIndex].height" [hidden]="layer.isGraphicHidden">
    <div class="overlay-bounds" *ngIf="layer.selectedFile" appMoveClampedToParent [style.width.px]="layer.width" [style.height.px]="layer.height" [ngClass]="{ selected: isSelected }" (mousedown)="onSelect()">
        <div class="layer" [style.width.px]="layer.width" [style.height.px]="layer.height"  [ngStyle]="{'background-image': 'url(' + layer.selectedFile.url + ')', 'background-size': layer.width + 'px'}">
        </div>
    </div>
</div>