<!-- Edit Logo/Graphic -->
<div *ngFor="let layers of settings.images[settings.selectedImageUniqueId].layers; let i=index;">
<div *ngIf="layers.selectedFile">
    <!-- Main Buttons -->
    <div class="logo-type-container inline-block pointer" (click)="onVisibilityToggle(layers.layerId)">
        <div class="logo-type"><img class="svg-icon" src="assets/svg/remove_red_eye.svg"></div>
        <p class="logo-type-label text-center"><span>{{layers.isGraphicHidden ? 'Show' : 'Hide'}}</span></p>
    </div>
    <div class="logo-type-container inline-block pointer">
        <div class="logo-type"><img class="svg-icon" src="assets/svg/refresh.svg"></div>
        <p class="logo-type-label text-center">Replace</p>
        <input type="file" (change)="onSelectFileChange($event,layers.layerId)" title=" " />
    </div>
    <div class="logo-type-container inline-block pointer" (click)="onRemove(layers.layerId)">
        <div class="logo-type"><img class="svg-icon" src="assets/svg/delete.svg"></div>
        <p class="logo-type-label text-center">Remove</p>
    </div>

    <!-- Sliders -->
    <!--<p>Height: {{layers.height}}px</p>
    <input type="range" min="120" max="900" [(ngModel)]="layers.height" (input)="imageLayerSettingsChange.emit(imageLayerSettings)">   
    <p>Width: {{layers.width}}px</p>
    <input type="range" min="120" max="900" [(ngModel)]="layers.width" (input)="imageLayerSettingsChange.emit(imageLayerSettings)"> -->  
</div>

<!-- Insert Logo/Graphic -->
<div *ngIf="!layers.selectedFile">
    <div class="upload-file-container">
        <input type="file" (change)="onSelectFileChange($event, layers.layerId)" title=" " />
        <span class="btn btn-block text-center">Insert Image</span>
    </div>
</div>
<hr>
</div>