<!-- Edit Logo/Graphic -->
<div *ngIf="imageLayerSettings.selectedFile">
    <!-- Main Buttons -->
    <div class="logo-type-container inline-block pointer" (click)="onVisibilityToggle()">
        <div class="logo-type"><img class="svg-icon" src="assets/svg/remove_red_eye.svg"></div>
        <p class="logo-type-label text-center"><span>{{imageLayerSettings.isGraphicHidden ? 'Show' : 'Hide'}}</span></p>
    </div>
    <div class="logo-type-container inline-block pointer">
        <div class="logo-type"><img class="svg-icon" src="assets/svg/refresh.svg"></div>
        <p class="logo-type-label text-center">Replace</p>
        <input type="file" (change)="onSelectFileChange($event)" title=" " />
    </div>
    <div class="logo-type-container inline-block pointer" (click)="onRemove()">
        <div class="logo-type"><img class="svg-icon" src="assets/svg/delete.svg"></div>
        <p class="logo-type-label text-center">Remove</p>
    </div>

    <!-- Sliders -->
    <p>Height: {{imageLayerSettings.height}}px</p>
    <input type="range" min="120" max="900" [(ngModel)]="imageLayerSettings.height" (input)="imageLayerSettingsChange.emit(imageLayerSettings)">   
    <p>Width: {{imageLayerSettings.width}}px</p>
    <input type="range" min="120" max="900" [(ngModel)]="imageLayerSettings.width" (input)="imageLayerSettingsChange.emit(imageLayerSettings)">   
</div>

<!-- Insert Logo/Graphic -->
<div *ngIf="!imageLayerSettings.selectedFile">
    <div class="upload-file-container">
        <input type="file" (change)="onSelectFileChange($event)" title=" " />
        <span class="btn btn-block btn-lg text-center">Insert Image</span>
    </div>
</div>
